@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'mono';
    src: url('../fonts/monofonto/monofonto.ttf');
}

@font-face {
    font-family: 'jonah';
    src: url('../fonts/jonah/Jonah-Regular.ttf');
}

@font-face {
    font-family: 'comfortaa';
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&effect=3d-float');
@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');
body {
    padding: 0;
    margin: 0;
    line-height: 1.4em;
    height: 100%;
    font-family: 'comfortaa';
}

/* #main-header */

#main-header {
    position: absolute;
    background: rgba(0, 166, 90, 1);
    z-index: 1;
    opacity: 0.9;
    width: 100%;
    padding-top: 10px;
    height: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 192, 239, 0.7);
}

#main-header h1 {
    width: 20%;
    float: left;
    color: #fff;
    font-family: 'comfortaa';
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}

#main-header nav {
    float: right;
    width: 80%;
    text-align: right;
}

#main-header nav ul li {
    display: inline-table;
    margin: 0 5px 0 10px;
}

#main-header nav ul li i {
    color: #fff;
}

#main-header nav ul li p {
    color: #fff;
    font-family: 'comfortaa';
    font-size: 16px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main-header nav ul li img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

#main-header nav ul li sup {
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
    border-radius: 100%;
    padding: 2px;
}

#main-header nav ul li:nth-child(2) sup {
    background: chartreuse;
}

#main-header nav ul li:nth-child(3) sup {
    background: red;
    color: #fff;
}

/* main-sidebar */

.wrapper-content {
    height: 100%;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    padding-top: 50px;
}

#main-sidebar {
    max-width: 20%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    background: rgba(26, 34, 38, 1);
}

#main-sidebar .description {
    position: relative;
    height: 100px;
    margin-top: 10px;
}

#main-sidebar .description img {
    width: 24%;
    height: 60px;
    border-radius: 100%;
    float: left;
    margin-top: 5px;
}

#main-sidebar .description .info {
    width: 66%;
    float: right;
    margin-top: 10px;
    padding: 5px;
}

#main-sidebar .description h1 {
    font-family: 'comfortaa';
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    font-weight: normal;
}

#main-sidebar .description p {
    font-family: 'comfortaa';
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
}

#main-sidebar .form {
    height: auto;
}

#main-sidebar .form .input-form {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

#main-sidebar .form .input-form input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 0;
    background: rgba(55, 72, 80, 1);
    padding: 10px;
    color: #fff;
}

#main-sidebar .form .input-form input::placeholder {
    color: #fff;
    text-transform: capitalize;
    font-weight: normal;
}

#main-sidebar .form .input-form i {
    position: absolute;
    right: 10%;
    top: 30%;
    font-size: 20px;
    color: #fff;
}

#main-sidebar .menu {
    height: auto;
    margin-top: 10px;
    width: 100%;
}

#main-sidebar .menu .header-menu {
    background: rgba(26, 34, 38, 1);
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
}

#main-sidebar .menu .header-menu h1 {
    color: #ccc;
    font-size: 18px;
    font-family: 'comfortaa';
    text-transform: capitalize;
}

#main-sidebar .menu nav {
    position: relative;
    height: auto;
    padding: 10px;
}

#main-sidebar .menu nav .nav {
    display: inline-table;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

#main-sidebar .menu nav .active_nav {
    background: rgba(0, 166, 90, 0.7);
}

#main-sidebar .menu nav .nav::after {
    content: "\f104";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 800;
    float: right;
    color: #fff;
    font-size: 14px;
}

#main-sidebar .menu nav .nav:hover {
    /* background: rgba(12, 236, 12, 0.7); */
    transition: all 0.2s ease-in-out;
}

#main-sidebar .menu nav .nav i {
    color: #fff;
    font-size: 16px;
}

#main-sidebar .menu nav .nav a {
    color: #fff;
    text-transform: capitalize;
    font-weight: normal;
    font-family: 'comfortaa';
    font-size: 14px;
    width: 100%;
}

#main-sidebar .menu nav .nav a:hover {
    text-decoration: none;
}

#main-sidebar .menu nav .dropdown-nav {
    display: none;
    background: transparent;
    border-radius: 4px;
    padding: 5px 40px 5px 40px;
    transition: all 0.5s ease-in-out;
}

#main-sidebar .menu nav .dropdown-nav a {
    color: #fff;
    text-transform: capitalize;
    font-weight: normal;
    font-family: 'comfortaa';
    font-size: 14px;
    width: 100%;
}

.icon-nav {
    position: absolute;
    display: block;
    left: 20%;
    size: 30px;
    color: #fff;
}

.topnav.responsive {
    display: block;
    margin-left: -20%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width:992px) {
    .topnav {
        display: none;
    }
    .icon-nav {
        position: absolute;
        display: block;
        right: 10px;
        left: 90%;
        top: 10px;
        color: #fff;
    }
}

@media screen and (max-width:992px) {
    .topnav.responsive {
        display: block;
        margin-left: 0%;
    }
}

/* content main */

#content-main {
    width: 100%;
    background: transparent;
    height: 100%;
}

#content-main .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

#content-main .header-content .title {
    width: 30%;
    font-family: 'comfortaa';
    font-size: 26px;
    color: rgba(26, 34, 38, 1);
    text-transform: capitalize;
    justify-items: center;
}

#content-main .header-content .title .current {
    font-size: 18px;
}

#content-main .header-content .tab-menu {
    width: 80%;
    text-align: right;
}

#content-main .header-content .tab-menu h1 {
    font-family: 'comfortaa';
    font-size: 20px;
    text-transform: capitalize;
    font-size: 18px;
}

#content-main .boxes {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#content-main .boxes .box {
    position: relative;
    width: 24%;
    border-radius: 2px;
    background: rgba(12, 236, 12, 0.7);
    padding: 10px;
    cursor: pointer;
}

#content-main .boxes .box:nth-child(1) {
    background: rgba(0, 192, 239, 0.7);
}

#content-main .boxes .box:nth-child(2) {
    background: rgba(0, 166, 90, 0.7);
}

#content-main .boxes .box:nth-child(3) {
    background: rgba(243, 156, 18, 0.7);
}

#content-main .boxes .box:nth-child(4) {
    background: rgba(221, 75, 57, 0.7);
}

#content-main .boxes .box h1 {
    font-family: 'comfortaa';
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

#content-main .boxes .box h3 {
    font-family: 'comfortaa';
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    text-transform: capitalize;
}

#content-main .boxes .box .more {
    position: absolute;
    background: rgba(12, 236, 12, 1);
    width: 100%;
    height: 30px;
    top: 100%;
    left: 0%;
    text-align: center;
    padding-top: 5px;
    border-radius: 1px;
    transition: all 0.5s ease-in-out;
}

#content-main .boxes .box:hover .more {
    height: 50px;
    transform: translateY( -20px);
    padding-top: 15px;
    transition: all 0.5s ease-in-out;
}

#content-main .boxes .box:nth-child(1) .more {
    background: rgba(0, 192, 239, 1);
}

#content-main .boxes .box:nth-child(2) .more {
    background: rgba(0, 166, 90, 1);
}

#content-main .boxes .box:nth-child(3) .more {
    background: rgba(243, 156, 18, 1);
}

#content-main .boxes .box:nth-child(4) .more {
    background: rgba(221, 75, 57, 1);
}

#content-main .boxes .box .more a {
    color: #fff;
    text-transform: capitalize;
    font-family: 'roboto';
}

#content-main .boxes .box .more a:hover {
    text-decoration: none;
}

#content-main .boxes .box i {
    position: absolute;
    top: 30px;
    right: 10%;
    font-size: 50px;
    color: #fff;
}

#content-main footer {
    position: fixed;
    height: 40px;
    background: #fff;
    text-align: left;
    padding: 10px;
    bottom: 1px;
    width: 100%;
    border: 1px solid rgba(0, 166, 90, 0.7);
    box-shadow: 1px 1px 1px 1px rgba(0, 192, 239, 0.7);
}

#content-main footer p {
    font-family: 'comfortaa';
    text-transform: capitalize;
}

#content-main .panel {
    height: auto;
    padding: 10px 0 10px 0;
}

#content-main .panel .title {
    background: rgba(0, 166, 90, 1);
    padding: 10px;
    height: auto;
    box-shadow: 1px 1px 4px 1px rgba(26, 34, 38, 1);
    border-radius: 4px;
    margin-bottom: 10px;
}

#content-main .panel .title h1 {
    font-family: 'comfortaa';
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
}

#content-main .panel .title p {
    font-family: 'comfortaa';
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}

#content-main input[type="submit"] {
    width: 20%;
    height: 50px;
    box-shadow: 1px 1px 4px 1px rgba(26, 34, 38, 1);
}

@media screen and (max-width:900px) {
    #main-header {
        position: absolute;
        background: rgba(0, 166, 90, 1);
        z-index: 1;
        opacity: 0.9;
        width: 100%;
        padding-top: 10px;
        height: auto;
    }
    #main-header h1 {
        width: 100%;
        float: none;
        color: #fff;
        font-family: 'comfortaa';
        font-size: 22px;
        font-weight: normal;
        text-align: center;
    }
    #main-header nav {
        float: none;
        width: 100%;
        text-align: center;
    }
    /* main-sidebar */
    .wrapper-content {
        height: 100%;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgba(34, 45, 50, 1);
        padding-top: 100px;
        padding-bottom: 150px;
    }
    #main-sidebar {
        max-width: 100%;
        height: 100%;
    }
    #content-main {
        width: 100%;
        background: #fff;
        height: 800px;
        padding: 12px;
    }
    #content-main .boxes {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #content-main .boxes .box {
        width: 100%;
        margin-top: 50px;
    }
    #content-main footer {
        position: relative;
        height: auto;
        background: #fff;
        text-align: center;
        margin-left: 0px;
        margin-top: 60px;
    }
}

.box-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.box-card .box {
    position: relative;
    width: 33%;
    box-shadow: 1px 1px 1px 1px rgba(0, 166, 90, 0.7);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.box-card .box:hover {
    box-shadow: 1px 1px 1px 1px rgba(221, 75, 57, 0.7);
    transform: translate(0, -10px);
    transition: all 0.5s ease-in-out;
    background: rgba(0, 192, 239, 0.7);
}

.box-card .box .img-box {
    width: 30%;
    float: left;
}

.box-card .box .img-box img {
    width: 100px;
    border-radius: 100%;
}

.box-card .box .desciption {
    width: 60%;
    float: right;
    padding-top: 20px;
}

.box-card .box h1 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'comfortaa';
}

.box-card .box h2 {
    font-size: 20px;
    font-family: 'comfortaa';
}

.box-card .box .edit {
    position: absolute;
    right: 10px;
    top: 5px;
}

@media screen and (max-width:992px) {
    .box-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
    }
    .box-card .box {
        position: relative;
        width: 100%;
        box-shadow: 1px 1px 1px 1px rgba(0, 166, 90, 0.7);
        border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
    .box-card .box:hover {
        box-shadow: 1px 1px 1px 1px rgba(221, 75, 57, 0.7);
        transform: translate(0, -10px);
        transition: all 0.5s ease-in-out;
        background: rgba(0, 192, 239, 0.7);
    }
    .box-card .box .img-box {
        width: 100%;
        float: none;
    }
    .box-card .box .img-box img {
        width: 100px;
        border-radius: 100%;
    }
    .box-card .box .desciption {
        width: 100%;
        float: none;
        padding-top: 20px;
    }
    .box-card .box h1 {
        font-size: 20px;
        font-weight: 600;
        font-family: 'comfortaa';
    }
    .box-card .box .edit {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}